
 <div class="topnav" id="myTopnav"> 
 
    <a (click)="logout()" class="active">Logout</a>
    <a (click)="proposal()">Notifications</a>
</div>
<div class="outer">
 
                     
         <br><br>
              
              
                 
                          
                          <button type="button" class="s" ><a  routerLink="/trainercompleted">Completed Training</a></button>
                          
                          <button type="button" class="s" ><a  routerLink="/trainercurrent">Current Training</a></button>
                  
                  <button type="button" (click)="edit()" class="s" >Edit skills</button>
                  <button type="button" class="s" ><a  routerLink="/payment">Payments</a></button>
                  <button type="button" class="s" ><a  routerLink="/trainerhistory">View History</a></button>
                  
       
  
  
  </div>