
            <table class="table table-striped table-bordered table-list">
              <thead>
               <tr>
                 <th></th>
                  <th>User Id</th>
                 <th>User Name</th>
                  <th>Technology</th>
                  <th>Status</th>
                  <th>Progress</th>
                </tr> 
               </thead>
               <tbody>
               
                   
                   <tr *ngFor="let tr of training">
                      <td></td>
                     <td>{{ tr.userId }}</td>
                     <td>{{ tr.userName }}</td>
                     <td>{{ tr.skillName }}</td>
                     <td>{{ tr.status }}</td>
                     <td>{{ tr.progress }}</td>
                     
                   
                   </tr>
                    
               
                
                </tbody>
              </table>
           
     